<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= page_title @conn, "SiteBuilder - Build & Rent Website" %></title>
    <meta name="description" content="<%= meta_description @conn, "dummy description" %>" />
    <meta name="robots" content="<%= no_index @conn, "index" %>" />

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="trapago">
      <%= render "navbar.html", conn: @conn %>
      <%= render "alerts.html", conn: @conn %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <%= render "footer.html", conn: @conn %>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="<%= static_path(@conn, "/js/shared.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
